.banner {
    padding: 4rem 2rem;
    background: #e9ecef url(../img/banner.png) repeat center top;
}
section {
    padding: 70px 0;
}

.text-center {
    text-align: center!important;
}
.footer-menu{
	padding-left: 0;
}
.footer-menu li {
	display: inline-block;
	list-style: none;
	padding: 0 8px;

}
footer{
	padding: 2.5em 0;
}

.footer-menu li a{
	font-size: 15px;

}
